[submodule "utile-api-docs"]
	path = utile-api-docs
	url = https://github.com/SonnyAD/utile-api-docs.git
[submodule "utile-api"]
	path = utile-api
	url = https://github.com/SonnyAD/utile-api
[submodule "utile-front"]
	path = utile-front
	url = https://github.com/SonnyAD/utile-front
[submodule "utile-nginx"]
	path = utile-nginx
	url = https://github.com/SonnyAD/utile-nginx
[submodule "utile-bdd"]
	path = utile-bdd
	url = https://github.com/SonnyAD/utile-bdd.git
